.myTheme {
  /* border: 1px solid red; */
}

.simple-keyboard {
}

.hg-theme-default {
  width: 100%;
}

.hg-rows {
}

.hg-button.hg-red {
  background: rgb(255, 0, 0, 0.7);
  color: white;
}

.hg-button {
  background: red;
}
.hg-theme-default .hg-button {
  max-height: 100px;
}

.simple-keyboard.hg-layout-default .hg-button {
  min-height: 80px;
  /* width: 80px; */
}

.simple-keyboard.hg-layout-numeric .hg-button {
  height: 100%;
  width: 9vw;
  box-shadow: none;
  /*outlined*/
  border: 1px solid black;
}

.simple-keyboard.hg-layout-numeric {
  /* width: 300px; */
  background-color: transparent;
}
